services:
  ndi-relay:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NDI_SDK_URL_X86_64: "https://get.ndi.video/e/1092312/nstall-NDI-SDK-v6-Linux-tar-gz/lygzhz/2106549604/h/OX6QWjGgRma6HDuCWaNY2n5rngnuziie97-dmNA1Blk"
        NDI_SDK_URL_AARCH64: ""
    container_name: ndi-iphone-broadcast-relay
    restart: always
    environment:
      # Exact incoming NDI name
      NDI_INPUT_NAME: "iPhone Screen"

      # New outgoing relay name
      NDI_OUTPUT_NAME: "iPhone Screen"

      # Optional: hard-pin discovery if Docker multicast is flaky
      # Example: "192.168.0.77"
      NDI_EXTRA_IPS: ""

      # Optional: NDI groups to search (comma-separated). Example: "iPhone,public"
      NDI_GROUPS: "iPhone"

      RETRY_SECONDS: "2"

    network_mode: "host"
