{
  admin off
  local_certs
}

{$MEDIA_SYNC_AUTHORITY_HOST}, 192.168.0.25 {
  tls internal

  encode gzip zstd

  @backend path /api/* /connect/* /media/* /download/* /thumbnails/* /player.html /public/* /health /healthz /docs /openapi.json /favicon.ico
  reverse_proxy @backend host.docker.internal:8787

  reverse_proxy host.docker.internal:3000
}
